USE [QLVatTu]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SODH] [nchar](10) NOT NULL,
	[MAVTU] [nchar](10) NOT NULL,
	[SLDAT] [int] NULL,
 CONSTRAINT [PK_CTDONDH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SOPN] [nchar](10) NOT NULL,
	[MAVTU] [nchar](10) NOT NULL,
	[SLNHAP] [int] NULL,
	[DGNHAP] [float] NULL,
 CONSTRAINT [PK_CTPNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SOPX] [nchar](10) NOT NULL,
	[MAVTU] [nchar](10) NOT NULL,
	[SLXUAT] [int] NULL,
	[DGXUAT] [float] NULL,
 CONSTRAINT [PK_CTPXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODH] [nchar](10) NOT NULL,
	[NGAYDH] [datetime] NULL,
	[MANHACC] [nchar](10) NULL,
 CONSTRAINT [PK_ĐONH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [nchar](10) NOT NULL,
	[TENNHACC] [nvarchar](150) NULL,
	[DIACHI] [nvarchar](250) NULL,
	[DIENTHOAI] [varchar](50) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SOPN] [nchar](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[SODH] [nchar](10) NULL,
 CONSTRAINT [PK_PNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SOPX] [nchar](10) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[TENKH] [nvarchar](150) NULL,
 CONSTRAINT [PK_PXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [datetime] NOT NULL,
	[MAVTU] [nchar](10) NOT NULL,
	[SLDAU] [int] NULL,
	[TONGSLN] [int] NULL,
	[TONGSLX] [int] NULL,
	[SLCUOI] [int] NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 12/9/2023 9:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVTU] [nchar](10) NOT NULL,
	[TENVTU] [nvarchar](250) NULL,
	[DVTINH] [nvarchar](20) NULL,
	[PHANTRAM] [nvarchar](100) NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_DONDH]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_VATTU]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_PNHAP] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_PNHAP]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_VATTU]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPXUAT_PXUAT] FOREIGN KEY([SOPX])
REFERENCES [dbo].[PXUAT] ([SOPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_CTPXUAT_PXUAT]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPXUAT_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_CTPXUAT_VATTU]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHACC] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHACC]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_PNHAP] FOREIGN KEY([SODH])
REFERENCES [dbo].[PNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_PNHAP]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TONKHO_VATTU]
GO
